<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" href="app.css">
  <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
</head>
<body>
  <img class="banner" src="connectionpartyaug.png" alt="">
  <form action="">
    <label>NAME <input type="text"></label>
    <label>EMAIL <input type="text"></label>
    <input type="submit">
  </form>
</body>
</html>
