<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Connection Cult</title>
  <link rel="stylesheet" href="normalize.css">
  <link rel="stylesheet" href="app.css">
  <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
</head>
<body>
  <div class="container">
    <img class="banner" src="connectionpartyaug.png" alt="">
    <form action="//blogspot.us7.list-manage.com/subscribe/post?u=515893805a608984b67f1c569&amp;id=26b546a6df" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
      <h5>Join our mailing list <br> for tickets and more info</h5>
      <label><input name="FNAME" placeholder="first" type="text"></label>
      <label><input name="LNAME" placeholder="last" type="text"></label>
      <label><input name="EMAIL" placeholder="email" type="text"></label>
      <input type="text" class="hide" value="html" name="EMAILTYPE">
      <input type="text" class="hide" value="false" name="DOUBLEOPTIN">
      <button class="submit" type="submit">SUBMIT</button>
      <input type="text" class="hide" name="b_515893805a608984b67f1c569_9897808e75" tabindex="-1" value="">
    </form>
  </div>

  <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
  <script type='text/javascript'>
    (function($) {
      window.fnames = new Array();
      window.ftypes = new Array();
      fnames[0]='EMAIL';
      ftypes[0]='email';
      fnames[1]='FNAME';
      ftypes[1]='text';
      fnames[2]='LNAME';
      ftypes[2]='text';
      fnames[5]='DOUBLEOPTIN';
      ftypes[5]='text';

      $('.submit').on('click', function() { setTimeout(alert.bind(null, 'Welcome. You will receive an email shortly.'), 400) })
    }(jQuery));var $mcj = jQuery.noConflict(true);
  </script>

  <div class="text">
    <p>Welcome <br>

To the new wave of partying<br>

Sober partying<br>

If you are looking for purpose<br>

You have found the right place.<br>

We don't want pushing, pulling, screaming <br>Or music that drowns out your voice,<br>

Meanness, suppression, or abuse of anything - <br>Not substance or self<br>

We are artists, creatives, <br>Writers, businessmen and women, <br>Musicians, designers, project managers, <br>Assistants, technicians, students alike<br>

Come together <br>

To Create<br>

Move forward<br>

Unite<br>

Make connections<br>

Meet people<br>

And dance!
<br><br>


Be part of a movement.</p>
  </div> 
</body>

<footer>Connection Cult™ is a trademark of The Wholesome Undergound™</footer> 
</html>
