<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" href="app.css">
  <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
</head>
<body>
  <img class="banner" src="connectionpartyaug.png" alt="">
  <form action="//blogspot.us7.list-manage.com/subscribe/post?u=515893805a608984b67f1c569&amp;id=9897808e75" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <label>FIRST NAME <input name="FNAME" type="text"></label>
    <label>LAST NAME <input name="LNAME" type="text"></label>
    <label>EMAIL <input name="EMAIL" type="text"></label>
    <input type="text" class="hide" value="html" name="EMAILTYPE">
    <input class="submit" type="submit">
    <input type="text" class="hide" name="b_515893805a608984b67f1c569_9897808e75" tabindex="-1" value="">
  </form>

  <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
  <script type='text/javascript'>
    (function($) {
      window.fnames = new Array();
      window.ftypes = new Array();
      fnames[0]='EMAIL';
      ftypes[0]='email';
      fnames[1]='FNAME';
      ftypes[1]='text';
      fnames[2]='LNAME';
      ftypes[2]='text';

      $('.submit').on('click', function() { setTimeout(alert.bind(null, 'welcome. You will receive an email shortly.'), 400) })
    }(jQuery));var $mcj = jQuery.noConflict(true);
  </script>
</body>
</html>
