html, body {
  height: 100%;
  min-height: 100vh;
}

@-ms-viewport{
  width: device-width;
}

body {
  background-color: black;
  font-family: Helvetica;
  color: white;
}

.container {
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.quotes {
  text-align: center;
  font-size: .8em;
  margin-left: 10em;
  margin-right: 10em;
  margin-bottom: 3em;
}

form {
  margin-top: 2em;
}

form > * {
  margin: .5em;
}

label {
  display: block;
}

input {
  color: black;
  margin-left: 5px;
  outline: 0;
  border: 1px inset gray;
  line-height: 1em;
  font-size: 14px;
  font-family: Helvetica;
  padding: 5px 10px;
}

.submit {
  background-color: white;
  color: black;
  font-family: Helvetica;
  padding: 8px 14px;
  width: 170px;
  background:#3e7ea1; /*the colour of the button*/
  border:1px solid #3e7ea1; /*required or the default border for the browser will appear*/
  /*give the button curved corners, alter the size as required*/
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  /*give the button a drop shadow*/
  -webkit-box-shadow: 0 0 4px rgba(0,0,0, .75);
  -moz-box-shadow: 0 0 4px rgba(0,0,0, .75);
  box-shadow: 0 0 4px rgba(0,0,0, .75);
  /*style the text*/
  color:#f3f3f3;
  font-size:0.8em;

}

@media (max-width: 380px) {
  .container {
    padding-top: 0;
    padding-bottom: 20px;
  }
}

.banner {
  max-height: 600px;
  min-height: 400px;
  max-width: 100%;
  border-radius: 4px;
}

.hide {
  display: none;
}

footer { 
  text-align: center;
  font-size: 10px;
}


