html, body {
  min-height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form {
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

form > * {
  margin: .5em;
}

.banner {
  max-height: 800px;
}
